
/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* parent section  */
.parent{
    width:15%;
   
    border: 1px solid #000000;
    display: grid;
    background-color: #ffffff;

    gap: 10px;
    padding: 10px;
    margin: 50px auto;

    grid-template-areas: 
    'header header menu'
    'article main menu'
    ;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr); */
   
    
}
/* child section for same properties */
.child{
    background-color: #ffe4c4;
    
    border-radius: 5px;
    padding: 10px;
   
}
/* child section for area */
.child-1{
    /* grid-area: 1/1/2/3; */
    grid-area: header;
}
.child-2{
    /* grid-area: 1/3/3/4; */
    grid-area: menu;
}
.child-3{
    /* grid-area: 2/1/3/2; */
    grid-area: article;
}
.child-4{
    /* grid-area: 2/2/3/3; */
    grid-area: main;
}